<?xml version="1.0"?>
<robot name="block">
  <link name="block1">
    <contact>
      <lateral_friction value="1.0"/>
      <spinning_friction value=".001"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.02"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.1 1 1"/>
      </geometry>
      <material name="blockmat">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0 0.0"/>
      <geometry>
        <box size="0.1 1 1"/>
      </geometry>
    </collision>
  </link>
  <link name="block2">
    <contact>
      <lateral_friction value="1.0"/>
      <spinning_friction value=".001"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.02"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="1 0.1 1"/>
      </geometry>
      <material name="blockmat">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0.0 0.0"/>
      <geometry>
        <box size="1 0.1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="liaison" type="fixed">
    <parent link="block1"/>
    <child link="block2"/>
    <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
  </joint>
</robot>
